:root {
  --color-primary: #1566ff;
  --color-white: #fff;
  --color-black: #000;

  --font-h2: 4.8rem;
  --font-sub-headline: 3.2rem;
  --font-para: 2.4rem;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom right,
    var(--color-white),
    #d1e0ff
  );
}

h2 {
  font-size: 4rem;
  font-weight: 600;
}

p {
  font-size: 2.4rem;
}

.container {
  max-width: 120rem;
  padding: 2rem;
  display: flex;
}

.content--left {
  flex: 1 1 50%;
}

.sriharshaPic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.6rem;
}

.content--right {
  flex: 1 1 50%;
  padding: 4rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 1.4rem;
}

.hello {
  font-size: var(--font-para);
}

.name {
  font-size: var(--font-h2);
  font-weight: 600;
}

.name span {
  color: var(--color-primary);
}

.designations {
  font-size: var(--font-sub-headline);
  font-weight: 600;
}

.seasoned {
  font-size: var(--font-para);
}

.resume {
  margin-top: 3.2rem;
  font-size: var(--font-para);
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 1.6rem;
  text-decoration: none;
  padding: 2.4rem 1.2rem;
  text-align: center;
  width: 80%;
  transition: all 0.2s ease;
}

.resume:hover {
  background-color: #094dc9;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}

@media only screen and (max-width: 720px) {
  .container {
    flex-direction: column-reverse;
    gap: 6rem;
    padding: 4rem;
  }

  .content--right {
    padding: 0rem;
  }

  .resume {
    width: auto;
  }
}
